Data PRe-Processing Lab

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

df= pd.read_csv('/content/Advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [2]:
scaler = MinMaxScaler()
df_values = df.values
df_scaled = scaler.fit_transform(df_values)
normalized_df = pd.DataFrame(df_scaled)
normalized_df.head()

          0         1         2         3         4
0  0.000000  0.775786  0.762097  0.605981  0.807087
1  0.005025  0.148123  0.792339  0.394019  0.346457
2  0.010050  0.055800  0.925403  0.606860  0.303150
3  0.015075  0.509976  0.832661  0.511873  0.665354
4  0.020101  0.609063  0.217742  0.510994  0.444882

In [3]:
normalized_df.describe()

               0           1           2           3           4
count  200.00000  200.000000  200.000000  200.000000  200.000000
mean     0.50000    0.494902    0.469032    0.266086    0.489075
std      0.29085    0.290342    0.299331    0.191545    0.205412
min      0.00000    0.000000    0.000000    0.000000    0.000000
25%      0.25000    0.249155    0.201109    0.109499    0.345472
50%      0.50000    0.504058    0.461694    0.223835    0.444882
75%      0.75000    0.737656    0.736391    0.394019    0.622047
max      1.00000    1.000000    1.000000    1.000000    1.000000

In [4]:
from sklearn.preprocessing import  StandardScaler
std_scaler = StandardScaler()
df_values = df.values
df_std= std_scaler.fit_transform(df_values)
standardized_df = pd.DataFrame(df_std)
standardized_df.head()

          0         1         2         3         4
0 -1.723412  0.969852  0.981522  1.778945  1.552053
1 -1.706091 -1.197376  1.082808  0.669579 -0.696046
2 -1.688771 -1.516155  1.528463  1.783549 -0.907406
3 -1.671450  0.052050  1.217855  1.286405  0.860330
4 -1.654129  0.394182 -0.841614  1.281802 -0.215683

In [5]:
standardized_df.describe()

                  0             1             2             3             4
count  2.000000e+02  2.000000e+02  2.000000e+02  2.000000e+02  2.000000e+02
mean  -6.661338e-18  1.104672e-16 -4.413137e-16  2.220446e-16 -2.148975e-16
std    1.002509e+00  1.002509e+00  1.002509e+00  1.002509e+00  1.002509e+00
min   -1.723412e+00 -1.708823e+00 -1.570868e+00 -1.392646e+00 -2.386924e+00
25%   -8.617060e-01 -8.485295e-01 -8.973206e-01 -8.195504e-01 -7.008497e-01
50%    0.000000e+00  3.161515e-02 -2.457858e-02 -2.211368e-01 -2.156830e-01
75%    8.617060e-01  8.381955e-01  8.954299e-01  6.695788e-01  6.489705e-01
max    1.723412e+00  1.744029e+00  1.778300e+00  3.841171e+00  2.493565e+00

In [7]:

df= pd.read_csv('/content/stdcat-201010-101522.csv')
df.head()

        RNO        State Category Gender
0  20150601  Maharashtra      OBC      F
1  20150602  Maharashtra       SC      M
2  20150603  Maharashtra       ST      M
3  20150604           JK      GEN      F
4  20150605     Nagaland      GEN      M

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RNO       5 non-null      int64
 1   State     5 non-null      object
 2   Category  5 non-null      object
 3   Gender    5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

In [9]:
new={'F':0,'M':1}
df=df.replace({'Gender':new})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RNO       5 non-null      int64
 1   State     5 non-null      object
 2   Category  5 non-null      object
 3   Gender    5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [10]:
df.describe()

                RNO    Gender
count  5.000000e+00  5.000000
mean   2.015060e+07  0.600000
std    1.581139e+00  0.547723
min    2.015060e+07  0.000000
25%    2.015060e+07  0.000000
50%    2.015060e+07  1.000000
75%    2.015060e+07  1.000000
max    2.015060e+07  1.000000

In [11]:
df.describe()

                RNO    Gender
count  5.000000e+00  5.000000
mean   2.015060e+07  0.600000
std    1.581139e+00  0.547723
min    2.015060e+07  0.000000
25%    2.015060e+07  0.000000
50%    2.015060e+07  1.000000
75%    2.015060e+07  1.000000
max    2.015060e+07  1.000000

In [12]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['State'] = lb.fit_transform(df['State'])
df.head()

        RNO  State Category  Gender
0  20150601      1      OBC       0
1  20150602      1       SC       1
2  20150603      1       ST       1
3  20150604      0      GEN       0
4  20150605      2      GEN       1

In [13]:
df = pd.get_dummies(df, columns=['Category'], prefix = ['Cat'])
df.head()

        RNO  State  Gender  Cat_GEN  Cat_OBC  Cat_SC  Cat_ST
0  20150601      1       0        0        1       0       0
1  20150602      1       1        0        0       1       0
2  20150603      1       1        0        0       0       1
3  20150604      0       0        1        0       0       0
4  20150605      2       1        1        0       0       0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RNO      5 non-null      int64
 1   State    5 non-null      int64
 2   Gender   5 non-null      int64
 3   Cat_GEN  5 non-null      uint8
 4   Cat_OBC  5 non-null      uint8
 5   Cat_SC   5 non-null      uint8
 6   Cat_ST   5 non-null      uint8
dtypes: int64(3), uint8(4)
memory usage: 268.0 bytes

In [15]:
df.describe()

                RNO     State    Gender   Cat_GEN   Cat_OBC    Cat_SC    Cat_ST
count  5.000000e+00  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   2.015060e+07  1.000000  0.600000  0.400000  0.200000  0.200000  0.200000
std    1.581139e+00  0.707107  0.547723  0.547723  0.447214  0.447214  0.447214
min    2.015060e+07  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25%    2.015060e+07  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
50%    2.015060e+07  1.000000  1.000000  0.000000  0.000000  0.000000  0.000000
75%    2.015060e+07  1.000000  1.000000  1.000000  0.000000  0.000000  0.000000
max    2.015060e+07  2.000000  1.000000  1.000000  1.000000  1.000000  1.000000

In [16]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['State'] = lb.fit_transform(df['State'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RNO      5 non-null      int64
 1   State    5 non-null      int64
 2   Gender   5 non-null      int64
 3   Cat_GEN  5 non-null      uint8
 4   Cat_OBC  5 non-null      uint8
 5   Cat_SC   5 non-null      uint8
 6   Cat_ST   5 non-null      uint8
dtypes: int64(3), uint8(4)
memory usage: 268.0 bytes

In [18]:
df.head()

        RNO  State  Gender  Cat_GEN  Cat_OBC  Cat_SC  Cat_ST
0  20150601      1       0        0        1       0       0
1  20150602      1       1        0        0       1       0
2  20150603      1       1        0        0       0       1
3  20150604      0       0        1        0       0       0
4  20150605      2       1        1        0       0       0

In [19]:
df.describe()

                RNO     State    Gender   Cat_GEN   Cat_OBC    Cat_SC    Cat_ST
count  5.000000e+00  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   2.015060e+07  1.000000  0.600000  0.400000  0.200000  0.200000  0.200000
std    1.581139e+00  0.707107  0.547723  0.547723  0.447214  0.447214  0.447214
min    2.015060e+07  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25%    2.015060e+07  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
50%    2.015060e+07  1.000000  1.000000  0.000000  0.000000  0.000000  0.000000
75%    2.015060e+07  1.000000  1.000000  1.000000  0.000000  0.000000  0.000000
max    2.015060e+07  2.000000  1.000000  1.000000  1.000000  1.000000  1.000000